*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(81, 80, 80);
    padding: 40px 0px;
}

/* Form Styling */
#form-container{
    display: none;
    background-color: transparent;
    width: 400px;
    min-height: 500px;
    padding: 30px 20px;
    border: 1px solid rgb(154, 151, 151);
    border-radius: 30px;
    color: aliceblue;
}

#form-container h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

#form-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-container form .label-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-container form .label-input label{
    font-size: 18px;
    font-weight: 500;
}

#form-container form .label-input .error{
    color: red;
    font-weight: 700;
    font-size: 13px;
}

#form-container form .label-input h3{
    font-size: 20px;
    font-weight: 500;
}

#form-container form .label-input .txt-input{
    width: 100%;
    height: 30px;
    background-color: rgb(152, 151, 151);
    border: none;
    border-radius: 30px;
    padding: 0px 15px;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

#form-container form .label-input .txt-input::placeholder{
    color: white;
}

#form-container form .label-input .radio-input:checked{
    accent-color: rgb(27, 26, 26);
}

#form-container form button{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    color: aliceblue;
    background-color: rgb(44, 44, 44);
}

#form-container form #close-btn{
    background-color: rgb(147, 49, 49);
}


/* Notes Container Styling */
#notes-container{
    width: 530px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#notes-container #left-icon{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#notes-container #left-icon button{
    background: transparent;
    border: 1px solid white;
    font-size:28px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    color: white;
    font-weight: 500;
}

/* stack */
#notes-container #stack{
    width: 70%;
    height: 100%;
    color: white;
    font-weight: 800;
    position: relative;
}

#notes-container #stack .notes{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
    background: rgb(81, 80, 80);
    border: 1px solid rgb(156, 155, 155);
    border-radius: 20px;
    gap: 15px;
    position: absolute;
}

#notes-container #stack .notes:nth-child(1) {
    z-index: 3;
}

#notes-container #stack .notes:nth-child(2) {
    z-index: 2;
    transform: translateY(10px) scale(0.98);
    opacity: 0.9;
}

#notes-container #stack .notes:nth-child(3){
    z-index: 1;
    transform: translateY(20px) scale(0.96);
    opacity: 0.8;
}

#notes-container #stack .notes .image{
    width: 70px;
    height: 70px; 
    border: 1px solid rgb(173, 168, 168);
    border-radius: 50%;
    overflow: hidden;
}

#notes-container #stack .notes .image img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

#notes-container #stack .notes h2{
    font-size: 28px;
}

#notes-container #stack .notes .details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#notes-container #stack .notes .details .left-detail,
#notes-container #stack .notes .details .right-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#notes-container #stack .notes .ctc-btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#notes-container #stack .notes .ctc-btn button{
    padding: 7px 15px;
    border: 1px solid rgb(139, 136, 136);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    background-color: transparent;
    color: white;
}

#notes-container #stack .notes .ctc-btn #call-btn{
    background-color: rgb(171, 22, 22);
}

/* Right Colors */
#notes-container #right-colors{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#notes-container #right-colors .color{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
}

#notes-container #right-colors #black{
    background-color: black;
}

#notes-container #right-colors #purple{
    background-color: purple;
}

#notes-container #right-colors #brown{
    background-color: brown;
}

#notes-container #right-colors #grey{
    background-color: rgb(81, 80, 80);
}